.calculadora {
    width: 300px;
    margin: 50px auto; /* Centraliza na página */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* Para arredondar as bordas */
}

.tela {
    background-color: #222;
    color: white;
    font-size: 2.5em;
    padding: 20px;
    text-align: right;
}

.botoes {
    display: grid;
    /* Cria uma grade de 4 colunas de tamanho igual */
    grid-template-columns: repeat(4, 1fr); 
}

.botoes button {
    padding: 20px;
    font-size: 1.2em;
    border: 1px solid #ddd;
    cursor: pointer; /* Muda o cursor para "mãozinha" */
}

.botoes button:hover {
    background-color: #f0f0f0;
}

/* Estilo para botões de operação */
.operador {
    background-color: #f79231;
    color: white;
}

/* Faz o botão '0' ocupar 2 colunas */
#zero {
    grid-column: span 2;
 }