@charset "UTF-8";

@font-face {
    font-family:'FonteAndroid' ;
    src: url("arquivos/fontes/idroid.otf") format('truetype');
    font-weight: normal;
    font-style: normal ;
}

img, video, iframe {
  max-width: 100%; /* Garante que a imagem nunca seja mais larga que o container */
  height: auto;    /* Mantém a proporção da imagem */
}

body{
    background-color: rgb(237, 222, 201);
    padding: 0%;
    margin: 0px;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(110, 178, 111), rgb(9, 103, 9));
    margin: auto;
    padding: 1.25rem 1rem; 
    min-height: 8rem;
}
header h1{
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 0 auto;
    color: aliceblue;
    font-size: 2.2em;
    text-shadow: 2px 3px 10px black;
}
header p{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
    color: aliceblue;
    text-shadow: 2px 5px 15px black; ;
}
main{
    display: block;
    background-color: aliceblue;
    max-width: 800px;
    height: auto;  
    padding: 10px 0.5rem;
    box-shadow: 1px 7px 20px 3px rgba(0, 0, 0, 0.621);
    justify-self: center;
    margin: 0px auto;
}
main h1{
    font-style: normal;
    font-family: 'FonteAndroid';
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(0, 89, 0);

}

main p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}

main h2{
    font-size: 0.9em;
    font-family: 'FonteAndroid';
    color: rgb(0, 89, 0);
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.373), rgba(255, 255, 255, 0.762));
    text-align: justify;
    
}

.destaqueverde{
    color: rgb(1, 104, 1);
    font-weight: bolder;
}

.destaquelink{
    background-color: rgba(0, 128, 0, 0.311);
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}
a:hover{
    color: green;
    text-decoration: underline;

}

main img{
    display: block;
    margin: 0 auto;
}

.video-container {
  position: relative;
  width: 100%;         
  max-width: 800px;     
  margin: 10px auto;   
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}